

<div class="span-6">
	<%= render 'people/profile_sidebar' , person: @person , contact: @contact %>
	<%= link_to("新增文章" , new_person_blog_article_path(@person) ,:class => "button creation")%>
</div>

<div class="span-18 last">
	<div class="blog_container">
		<% @articles.each do |article| %>
			<h4><%= link_to(article.title, person_blog_article_path(@person.id,article.id) )%></h4>
			<%= truncate(article.content,length: 40) %>
			<hr>
		<% end %>
	</div>
	<%= will_paginate @articles %>
</div>
